[submodule "TinyAntivirus/libs/googletest/googletest"]
	path = TinyAntivirus/libs/googletest/googletest
	url = https://github.com/google/googletest.git
	ignore = untracked
[submodule "TinyAntivirus/libs/zlib"]
	path = TinyAntivirus/libs/zlib
	url = https://github.com/madler/zlib.git
	ignore = untracked
[submodule "hydradragonunicorn/unicorn-engine-rs"]
	path = hydradragonunicorn/unicorn-engine-rs
	url = https://github.com/unicorn-engine/unicorn.git
