yara-python==4.5.2
yara-x==0.14.0
joblib
pefile
psutil
watchdog
notify-py
pywin32
pydumpck
base32-crockford
torch
accelerate
py7zr
chardet
pymem
pyelftools 
zstandard
macholib
debloat
numpy
cryptography
capstone
PySide6
pyzipper
comtypes
wmi
evbunpack
unicorn #for GoStringUngrabler
lief #for GoStringUngrabler
transformers # You will also need download https://huggingface.co/deepseek-ai/deepseek-coder-1.3b-instruct
scapy # You will also need to download https://npcap.com/#download
spaCy # py.exe -3.12 -m spacy download en_core_web_md