yara-python
yara-x
joblib
pefile
psutil
watchdog
notify-py
pywin32
pydumpck
base32-crockford
torch
accelerate
py7zr
chardet
uncompyle6
pymem
pyelftools 
zstandard
macholib
debloat
numpy
cryptography
unicorn
capstone
fastapi
uvicorn
lief
transformers # You will also need download https://huggingface.co/deepseek-ai/deepseek-coder-1.3b-instruct
scapy # You will also need to download https://npcap.com/#download
spacy # python -m spacy download en_core_web_md