<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:fire="http://wixtoolset.org/schemas/v4/wxs/firewall">
	<?include Define.wxi ?>
	<?include BuildInfo.wxi ?>
	<Package ProductCode="$(var.strproductid)" Name="$(var.strproduct)" Language="1033" Version="$(var.strversion)" Manufacturer="HydraDragonAntivirus" UpgradeCode="$(var.upgradecode)" InstallerVersion="200" Compressed="yes" Scope="perMachine">

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." IgnoreRemoveFailure="yes" AllowSameVersionUpgrades="yes"></MajorUpgrade>
		<Upgrade Id="$(var.upgradecode)">
			<UpgradeVersion Maximum="2.0.0.0" OnlyDetect="yes" Property="OLDAGENT1INSTALLED" IgnoreRemoveFailure="yes"></UpgradeVersion>
			<!--<UpgradeVersion Maximum="$(var.strversion)" IncludeMaximum="yes" OnlyDetect="no" Property="OLDAGENT2INSTALLED" IgnoreRemoveFailure="no"></UpgradeVersion>-->
		</Upgrade>
		<Launch Condition='(VersionNT64 AND "$(var.Platform)"="x64") OR NOT (VersionNT64 OR "$(var.Platform)"="x64")' Message="This installation package ($(var.Platform)) is not supported by this processor type." />
		<Launch Condition="VersionNT &gt;= 601" Message="Current Windows version is not supported." />

		<!-- Check if Secure Boot is enabled (Registry UEFISecureBootEnabled = 1) -->
		<Property Id="SECUREBOOTENABLED" Secure="yes">
			<RegistrySearch Id="SearchSecureBoot" Root="HKLM" Key="SYSTEM\CurrentControlSet\Control\SecureBoot\State" Name="UEFISecureBootEnabled" Type="raw" />
		</Property>
		<Launch Condition="NOT (SECUREBOOTENABLED = &quot;#1&quot;)" Message="Secure Boot is enabled on this system. Please disable Secure Boot in your BIOS/UEFI settings before installing [ProductName] (unsigned driver loading requires Secure Boot to be disabled)." />

		<!-- Check if Test Signing is already enabled -->
		<Property Id="TESTSIGNINGENABLED" Secure="yes">
			<RegistrySearch Id="SearchTestSigning" Root="HKLM" Key="SYSTEM\CurrentControlSet\Control\CI\Policy" Name="TestSigningPolicy" Type="raw" />
		</Property>

		<Media Cabinet="edr_agent.cab" Id="1" EmbedCab="yes" CompressionLevel="high" />

    <Property Id="MsiLogging" Value="vx" />

    <Property Id="MSIUSEREALADMINDETECTION" Value="1" />
		<!--<Property Id="ARPNOMODIFY" Value="1" />-->
		<Property Id="ARPURLINFOABOUT" Value="https://www.comodo.com/support/comodo-support.php" />
		<Property Id="ARPHELPLINK" Value="https://edr.cwatch.comodo.com/help-guide" />
		<Property Id="ARPURLUPDATEINFO" Value="https://edr.cwatch.comodo.com/" />
		<Property Id="MSIRESTARTMANAGERCONTROL" Value="Disable" />
		
		<?include InstallSequence.wxi ?>

		<Feature Id="ProductFeature" Title="edr_installer" Level="1" AllowAbsent="no" AllowAdvertise="no" TypicalDefault="install" InstallDefault="local">
			<ComponentGroupRef Id="ProductComponents" />
			<!--<ComponentGroupRef Id="C_QSC_Scenarios" />-->
		</Feature>
	
		<Icon Id="icon.ico" SourceFile="icon.ico"/>
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />

	</Package>

	<Fragment>
		<StandardDirectory Id="$(var.AppsDir)">
			<Directory Id="COMPANYNAMEGROUP" Name="HydraDragonAntivirus">
				<Directory Id="INSTALLDIR" Name="OpenEDR">
					<!--<Directory Id="QSC_DIR" Name="qsc"></Directory>-->
					<Directory Id="MODELSDIR" Name="models" />
					<Directory Id="SANCTUMDIR" Name="Sanctum">
						<Directory Id="SANCTUMAPPDATA" Name="AppData" />
					</Directory>
				</Directory>
			</Directory>
		</StandardDirectory>
		<StandardDirectory Id="$(var.SysFolder)">
			<Directory Id="DRIVERSDIR" Name="drivers">
			</Directory>
			<!-- declare system32\config\...\edrsvc to cleanup on uninstall -->
			<Directory Id="SysConfigDir" Name="config">
				<Directory Id="SysProfileDir" Name="systemprofile">
					<Directory Id="SysAppDataDir" Name="AppData">
						<Directory Id="SysLocalDir" Name="Local">
							<Directory Id="SysEdrsvcDir" Name="edrsvc">
							</Directory>
						</Directory>
					</Directory>
				</Directory>
			</Directory>
		</StandardDirectory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLDIR">
			<Component Id="ModelBinaries" Guid="{A2D1B36C-CE4F-4638-B7E0-7A9EF73BF640}" Directory="MODELSDIR">
				<File Id="JS_Model_Mpk" Source="$(var.SourceBinDir)models\js_model.mpk" KeyPath="yes" />
				<File Id="PE_Model_Mpk" Source="$(var.SourceBinDir)models\pe_model.mpk" />
			</Component>
			<Component Id="SanctumSysComponents" Guid="{4C9A23E1-71A2-4D93-BF29-48A5E12E571A}" Directory="SANCTUMAPPDATA">
				<File Id="SanctumSysFile" Source="..\..\..\..\..\hydradragon\Sanctum\AppData\sanctum.sys" KeyPath="yes" />
				<RemoveFile Id="RemovingSanctumDriver" Directory="SANCTUMAPPDATA" Name="sanctum.sys" On="uninstall" />
			</Component>
			<Component Id="SanctumDllComponent" Guid="{3E298F11-4A56-4B82-9CD3-79A120FB342C}" Directory="$(var.SysFolder)">
				<File Id="SanctumDllFile" Source="..\..\..\..\..\hydradragon\Sanctum\System32\sanctum.dll" KeyPath="yes" />
				<RemoveFile Id="RemovingSanctumDll" Directory="$(var.SysFolder)" Name="sanctum.dll" On="uninstall" />
			</Component>
			<Component Id="ElamInstallerComponent" Guid="{7F4B0E92-3C1D-4A6B-9E25-1C8D5A2F0B31}" Directory="SANCTUMDIR">
				<File Id="ElamInstallerFile" Source="..\..\..\..\..\hydradragon\Sanctum\elam_installer.exe" KeyPath="yes" />
				<ServiceInstall Id="ElamInstallerServiceInstall" Name="elam_installer" DisplayName="Sanctum ELAM Installer" Description="Runs elam_installer.exe automatically at boot to register sanctum_elam." Type="ownProcess" Start="auto" ErrorControl="normal" Vital="no" />
			</Component>
			<Component Id="Preparing" Guid="{01DBBA23-4B02-48AF-99BC-5DF1922AD981}">
				<!-- Copy config files to INSTALLDIR -->
				<CopyFile Id="CopyingDefaultCfg" SourceDirectory="TARGETDIR" SourceName="*.cfg" DestinationDirectory="INSTALLDIR" />
				<!-- Copy cacert.pem to INSTALLDIR -->
				<CopyFile Id="CopyingCacertPem" SourceDirectory="TARGETDIR" SourceName="cacert.pem" DestinationDirectory="INSTALLDIR" />

				<fire:FirewallException Id="SvcFirewallRules" Program="[INSTALLDIR]edrsvc.exe" Name="$(var.strproduct)" Scope="any" />
				<ServiceControl Id="StopEdrSvc" Name="edrsvc" Stop="uninstall" />
				<ServiceControl Id="StopSanctumRunner" Name="sanctum_ppl_runner" Stop="uninstall" Remove="uninstall" />
				<RemoveFile Id="RemovingDriver" Directory="DRIVERSDIR" Name="edrdrv.sys" On="uninstall" />
				<RemoveFile Id="RemovingMbrFilterDriver" Directory="DRIVERSDIR" Name="MBRFilter.sys" On="uninstall" />
				<RegistryKey Root="HKLM" Key="Software\Owlyshield">
					<RegistryValue Name="VERBOSE_LOGGING" Value="0" Type="string" KeyPath="yes" />
					<RegistryValue Name="LOG_PATH" Value="[CommonAppDataFolder]edrsvc\log" Type="string" />
					<RegistryValue Name="REPORTS_PATH" Value="[CommonAppDataFolder]edrsvc\log\reports" Type="string" />
					<RegistryValue Name="ALWAYS_AUTO_REVERT" Value="1" Type="string" />
					<RegistryValue Name="TRUST_COMODO_CLOUD" Value="1" Type="string" />
					<RegistryValue Name="MONITOR_ALL_APIS" Value="1" Type="string" />
				</RegistryKey>
				<!-- Firewall SDK rule path (the only RULES_PATH kept) -->
				<RegistryKey Root="HKLM" Key="Software\Owlyshield\SDK">
					<RegistryValue Name="RULES_PATH" Value="[INSTALLDIR]firewall-rules" Type="string" KeyPath="no" />
					<RegistryValue Name="SANCTUM_PATH" Value="[INSTALLDIR]Sanctum" Type="string" KeyPath="no" />
				</RegistryKey>
			</Component>
			<Files Include="$(var.SourceBinDir)**">
				<Exclude Files="$(var.SourceBinDir)models\**" />
				<Exclude Files="$(var.SourceBinDir)Sanctum\sanctum.sys" />
				<Exclude Files="$(var.SourceBinDir)Sanctum\AppData\sanctum.sys" />
				<Exclude Files="$(var.SourceBinDir)Sanctum\sanctum.dll" />
				<Exclude Files="$(var.SourceBinDir)Sanctum\elam_installer.exe" />
			</Files>
		</ComponentGroup>
	</Fragment>
</Wix>
