<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:fire="http://wixtoolset.org/schemas/v4/wxs/firewall">
    <?include Define.wxi ?>
    <?include BuildInfo.wxi ?>
    <Package ProductCode="$(var.strproductid)" Name="$(var.strproduct)" Language="1033" Version="$(var.strversion)" Manufacturer="HydraDragonAntivirus" UpgradeCode="$(var.upgradecode)" InstallerVersion="200" Compressed="yes" Scope="perMachine">

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." IgnoreRemoveFailure="yes" AllowSameVersionUpgrades="yes" />

        <Upgrade Id="$(var.upgradecode)">
            <UpgradeVersion Maximum="2.0.0.0" OnlyDetect="yes" Property="OLDAGENT1INSTALLED" IgnoreRemoveFailure="yes" />
        </Upgrade>

        <Launch Condition="VersionNT &gt;= 601" Message="Current Windows version is not supported." />

        <!-- Check if Secure Boot is enabled (Registry UEFISecureBootEnabled = 1) -->
        <Property Id="SECUREBOOTENABLED" Secure="yes">
            <RegistrySearch Id="SearchSecureBoot" Root="HKLM" Key="SYSTEM\CurrentControlSet\Control\SecureBoot\State" Name="UEFISecureBootEnabled" Type="raw" />
        </Property>
        <Launch Condition="NOT (SECUREBOOTENABLED = &quot;#1&quot;)" Message="Secure Boot is enabled on this system. Please disable Secure Boot in your BIOS/UEFI settings before installing [ProductName] (unsigned driver loading requires Secure Boot to be disabled)." />

        <Media Cabinet="edr_agent.cab" Id="1" EmbedCab="yes" CompressionLevel="high" />

        <Property Id="MsiLogging" Value="vx" />
        <Property Id="MSIUSEREALADMINDETECTION" Value="1" />
        <Property Id="ARPURLINFOABOUT" Value="https://www.comodo.com/support/comodo-support.php" />
        <Property Id="ARPHELPLINK" Value="https://edr.cwatch.comodo.com/help-guide" />
        <Property Id="ARPURLUPDATEINFO" Value="https://edr.cwatch.comodo.com/" />
        <Property Id="MSIRESTARTMANAGERCONTROL" Value="Disable" />
        
        <?include InstallSequence.wxi ?>

        <InstallExecuteSequence>
            <Custom Action="SetActualInstallDirTarget" After="SetActualInstallDir" />
        </InstallExecuteSequence>

        <CustomAction Id="SetActualInstallDirTarget" Property="ACTUALINSTALLDIR" Value="[INSTALLDIR_PLATFORM]" />
        
        <Feature Id="ProductFeature" Level="1" AllowAbsent="no" AllowAdvertise="no" TypicalDefault="install" InstallDefault="local">
            <?if $(var.Platform) = "x64" ?>
                <ComponentGroupRef Id="ProductComponentsX64" />
            <?else?>
                <ComponentGroupRef Id="ProductComponentsX86" />
            <?endif?>
        </Feature>
    
        <Icon Id="icon.ico" SourceFile="icon.ico"/>
        <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    </Package>

    <Fragment>
        <StandardDirectory Id="$(var.AppsDir)">
            <Directory Id="COMPANYNAMEGROUP" Name="HydraDragonAntivirus">
                <Directory Id="INSTALLDIR" Name="OpenEDR">
                    <?if $(var.Platform) = "x64" ?>
                        <Directory Id="INSTALLDIR_PLATFORM" Name="x64">
                            <Directory Id="MODELSDIR_X64" Name="models" />
                        </Directory>
                    <?else?>
                        <Directory Id="INSTALLDIR_PLATFORM" Name="x86">
                            <Directory Id="MODELSDIR_X86" Name="models" />
                        </Directory>
                    <?endif?>
                </Directory>
            </Directory>
        </StandardDirectory>

        <StandardDirectory Id="$(var.SysFolder)">
            <Directory Id="DRIVERSDIR" Name="drivers" />
            <Directory Id="SysConfigDir" Name="config">
                <Directory Id="SysProfileDir" Name="systemprofile">
                    <Directory Id="SysAppDataDir" Name="AppData">
                        <Directory Id="SysLocalDir" Name="Local">
                            <Directory Id="SysEdrsvcDir" Name="edrsvc" />
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
        </StandardDirectory>
    </Fragment>

    <Fragment>
        <?if $(var.Platform) = "x64" ?>
            <ComponentGroup Id="ProductComponentsX64" Directory="INSTALLDIR_PLATFORM">
                <Component Id="ModelBinariesX64" Guid="{A2D1B36C-CE4F-4638-B7E0-7A9EF73BF640}" Directory="MODELSDIR_X64">
                    <File Id="JS_Model_Mpk_X64" Source="$(var.SourceBinDir64)models\js_model.mpk" KeyPath="yes" />
                    <File Id="PE_Model_Mpk_X64" Source="$(var.SourceBinDir64)models\pe_model.mpk" />
                </Component>
                <Component Id="PreparingX64" Guid="{4BEB1048-A6EB-4021-ADAA-74A75EDA5EAE}">
                    <CopyFile Id="CopyingDefaultCfgX64" SourceDirectory="TARGETDIR" SourceName="*.cfg" DestinationDirectory="INSTALLDIR_PLATFORM" />
                    <CopyFile Id="CopyingCacertPemX64" SourceDirectory="TARGETDIR" SourceName="cacert.pem" DestinationDirectory="INSTALLDIR_PLATFORM" />
                    <fire:FirewallException Id="SvcFirewallRulesX64" Program="[INSTALLDIR_PLATFORM]edrsvc.exe" Name="$(var.strproduct)" Scope="any" />
                    <ServiceControl Id="StopEdrSvcX64" Name="edrsvc" Stop="uninstall" />
                    <RemoveFile Id="RemovingDriverX64" Directory="DRIVERSDIR" Name="edrdrv.sys" On="uninstall" />
                    <RegistryKey Root="HKLM" Key="Software\Owlyshield">
                        <RegistryValue Name="RULES_PATH" Value="[INSTALLDIR_PLATFORM]rules" Type="string" KeyPath="yes" />
                        <RegistryValue Name="VERBOSE_LOGGING" Value="1" Type="string" />
                        <RegistryValue Name="LOG_PATH" Value="[INSTALLDIR_PLATFORM]log" Type="string" />
                        <RegistryValue Name="REPORTS_PATH" Value="[INSTALLDIR_PLATFORM]reports" Type="string" />
                    </RegistryKey>
                    <RegistryKey Root="HKLM" Key="Software\Owlyshield\SDK">
                        <RegistryValue Name="RULES_PATH" Value="[INSTALLDIR_PLATFORM]firewall-rules" Type="string" />
                    </RegistryKey>
                </Component>
                <Files Include="$(var.SourceBinDir64)**">
                    <Exclude Files="$(var.SourceBinDir64)models\**" />
                </Files>
            </ComponentGroup>
        <?else?>
            <ComponentGroup Id="ProductComponentsX86" Directory="INSTALLDIR_PLATFORM">
                <Component Id="ModelBinariesX86" Guid="{074D90EE-0D34-406C-B434-6FB8D2DF3EAD}" Directory="MODELSDIR_X86">
                    <File Id="JS_Model_Mpk_X86" Source="$(var.SourceBinDir32)models\js_model.mpk" KeyPath="yes" />
                    <File Id="PE_Model_Mpk_X86" Source="$(var.SourceBinDir32)models\pe_model.mpk" />
                </Component>
                <Component Id="PreparingX86" Guid="{01DBBA23-4B02-48AF-99BC-5DF1922AD981}">
                    <CopyFile Id="CopyingDefaultCfgX86" SourceDirectory="TARGETDIR" SourceName="*.cfg" DestinationDirectory="INSTALLDIR_PLATFORM" />
                    <CopyFile Id="CopyingCacertPemX86" SourceDirectory="TARGETDIR" SourceName="cacert.pem" DestinationDirectory="INSTALLDIR_PLATFORM" />
                    <fire:FirewallException Id="SvcFirewallRulesX86" Program="[INSTALLDIR_PLATFORM]edrsvc.exe" Name="$(var.strproduct)" Scope="any" />
                    <ServiceControl Id="StopEdrSvcX86" Name="edrsvc" Stop="uninstall" />
                    <RemoveFile Id="RemovingDriverX86" Directory="DRIVERSDIR" Name="edrdrv.sys" On="uninstall" />
                    <RegistryKey Root="HKLM" Key="Software\Owlyshield">
                        <RegistryValue Name="RULES_PATH" Value="[INSTALLDIR_PLATFORM]rules" Type="string" KeyPath="yes" />
                        <RegistryValue Name="VERBOSE_LOGGING" Value="1" Type="string" />
                        <RegistryValue Name="LOG_PATH" Value="[INSTALLDIR_PLATFORM]log" Type="string" />
                        <RegistryValue Name="REPORTS_PATH" Value="[INSTALLDIR_PLATFORM]reports" Type="string" />
                    </RegistryKey>
                    <RegistryKey Root="HKLM" Key="Software\Owlyshield\SDK">
                        <RegistryValue Name="RULES_PATH" Value="[INSTALLDIR_PLATFORM]firewall-rules" Type="string" />
                    </RegistryKey>
                </Component>
                <Files Include="$(var.SourceBinDir32)**">
                    <Exclude Files="$(var.SourceBinDir32)models\**" />
                </Files>
            </ComponentGroup>
        <?endif?>
    </Fragment>
</Wix>
