/target
/um_engine/target
/driver/target
/driver/.vscode/ # note you may want to symlink this relative
driver/.vscode/settings.json
*.bkp
*.mp4
.DS_Store
malphas_cloak.rs
/fs_minifilter/x64/*
/fs_minifilter/.vs/*